#about {

    // introduction
    .introduction {
        padding-top: 40px;
        padding-bottom: 32px;

        .header {
            font-size: 123px;
            line-height: 0.89;
        }

        .description {
            p {
                line-height: 1.88;
                letter-spacing: -0.45px;
            }
        }
    }





    @media(min-width: 768px){
        .introduction {
            padding-bottom: 80px;
        }
    }

    @media(min-width: 1200px) {
        .introduction {
            .header {
                font-size: 231px;
            }
        }
    }

}