.blog-details {
    .intro {
        overflow: hidden;

        .img-section {
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 266px;

            img {
                max-width: 100%;
            }
        }

        .content-container {
            width: 100%;
            padding: 16px;
            display: flex;
            align-items: center;

            .content {
                .header {
                    line-height: 1.14;
                    letter-spacing: -1.22px;
                }

                .author {
                    display: flex;
                    align-items: center;

                    .img {
                        border-radius: 50%;
                        background: $steel;
                        width: 56px;
                        height: 56px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 16px;

                        img {
                            max-height: 100%;
                        }
                    }

                    .name {

                    }
                }
            }
        }
    }

    .blog-read-content {
        .socials {
            a {
                img {
                    width: 38px;
                    height: 38px;
                }
            }
        }

        .blog-read-actual-content {
            line-height: 34px;
            font-size: 18px;
            padding-top: 80px;
        }

        .author {
            padding-top: 40px;
            padding-bottom: 40px;
            border-top: solid 1px $very-light-blue;
            border-bottom: solid 1px $very-light-blue;
            margin-top: 120px;

            .img {
                background: $steel;
                border-radius: 50%;
                overflow: hidden;
                width: 50px;
                height: 50px;

                img {
                    max-width: 100%;
                }
            }
        }
    }

    @media(min-width: 768px){
        .intro {
            height: 400px;
            background-color: $pale-grey;

            .img-section {
                width: 52%;
                height: 100%;
            }

            .content-container {
                width: 48%;
                padding: 32px!important;
            }
        }

        .blog-read-content {
            .socials {
                padding-top: 80px;
            }
            .author {
                .img {
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }

    @media(min-width: 992px){
        .intro {
            height: 510px;

            .img-section {

            }

            .content-container {
                padding: 80px!important;
            }
        }
    }
}