 .bsx{
 // introduction
    .introduction {
        overflow: hidden;
        padding-top: 56px;

        .intro-image {
            background-color: $clear-blue;
            padding-top: 24px;
            padding-left: 24px;
            padding-bottom: 24px;
            height: 550px;

            img {
                height: 100%;
            }
        }

        .intro-info {
            margin-bottom: 100px;
        }
    }

    // separator
    .separator {
        padding-top: 56px;
        padding-bottom: 56px;

        .content {
            max-width: 590px;
        }

        .question-mark-container {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: solid 2px $pale-grey;
            display: flex;
            align-items: center;
            justify-content: center;

            .question-mark {
                font-size: 24px;
                color: $pale-grey;
            }
        }

        .header {
            color: #fff;
            font-size: 18px;
        }

        .desc {
            line-height: 1.75;
            letter-spacing: -0.55px;
        }
    }


    // icons container
    .info-container {
        background-color: $pale-grey;
        padding-top: 100px;
        padding-bottom: 100px;

        .group-icons {
            margin-top: 40px;
        }

        .desc {
            line-height: 1.7;
            letter-spacing: -0.49px;
        }

        .steps {
            .number {
                line-height: 34px;
            }
        }
    }

    // options
    .options {
        padding-top: 92px;
        padding-bottom: 92px;

        .opts{
            margin-left: auto;
            margin-right: auto;
            max-width: 860px;

            &:last-child {
                .option{
                    margin-bottom: 0px;
                }
            }
        }

        .heading {
            margin-bottom: 72px;
        }

        .option {
            margin-bottom: 64px;
            max-width: 340px;

            .desc {
                line-height: 1.5;
                letter-spacing: -0.44px;
            }
        }
    }

    // process
    .process {
        display: flex;
        align-items: center;
        background-color: $pale-grey;
        padding-top: 76px;
        padding-bottom: 100px;
        overflow: hidden;
        position: relative;

        .content {
            margin-bottom: 114px;
        }

        .conclusion {
            line-height: 1.5;
        }

        .back-container {

            img {
                position: absolute;
                top: 0;
                height: 156%;
            }
        }
    }

    .table-container {
        padding-top: 112px;
        padding-bottom: 56px;

        .heading {
            margin-bottom: 24px;
        }
    }

    .back-container {
        position: absolute;
        height: 530px;
        right: 0;
        width: 70%;
        bottom: 0;
        display: flex;
        align-items: center;
        overflow-y: hidden;


        img {
            height: 100%;
        }
    }

    @media(min-width: 768px){
        .introduction {
            position: relative;
            padding-top: 0px;


            .clear-blue-container {
                position: absolute;
                background: $clear-blue;
                width: 50%;
                height: 100%;
                top: 0;
                right: 0;
            }

            .intro-info {
                margin-bottom: 0px;
            }
        }

        .info-container {
            padding-top: 72px;
            padding-bottom: 72px;

            .group-icons {
                margin: 0px;
            }
        }

        .options {
            padding-top: 80px;
            padding-bottom: 80px;

            .heading {
                margin-bottom: 116px;
            }

            .option{
                margin-bottom: 104px;
            }
        }

        .process {
            height: 545px;
            padding-top: 0px;
            padding-bottom: 0px;

            .content {
                margin-bottom: 0px;
            }

            .back-container {
                height: 120%;
                top: -10%;
                width: 40%;

                img {
                    height: 100%;
                    position: relative;
                }
            }
        }

        .table-container {
            padding-top: 72px;
            padding-bottom: 120px;
        
            .heading {
                margin-bottom: 40px;
            }
        }
    }


    @media(min-width: 992px){
        .introduction {
            .intro-image {
                height: 670px;
            }
        }

        .info-container {
            padding-top: 168px;
            padding-bottom: 202px;
        }

        .options {
            padding-top: 144px;
            padding-bottom: 144px;
        }

        .process {
            height: 720px;
        }

        .table-container {
            padding-top: 144px;
            padding-bottom: 180px;
        }
    }


    @media(min-width: 1140px){
        .process {
            height: 1024px;
        }
    }

    @media(min-width: 1200px){
        .introduction {
            .clear-blue-container {
                width: 41.6666667%;
            }
        }
    }

    @media(min-width: 1920px){
        .process {
            .back-container {
                height: 250%;
            }
        }
    }
}