// main body div
body {
    padding-top: 95px;
}

// navigation
.navbar {
    height: 95px;

    // navigation item
    .navbar-collapse {
        padding-top: 0px;
        position: initial;

        .navbar-nav {
            padding-top: 0px;
            height: auto;
        }

        .nav-item {
            .nav-link {
                padding: 0px 16px;
                line-height: 30px;

            }

            // active nav item
            &.active {
                .nav-link{
                    background: rgba($color: $clear-blue, $alpha: 0.05);
                }
            }
        }
    }

    .get-started-button {
        width: 174px;
    }
}

.footer {
    footer {
        padding-top: 96px;
    }
}