// main body div
body {
    padding-top: 95px;
}

// navigation
.navbar {
    height: 95px;

    // navigation item
    .navbar-collapse {
        padding-top: 0px;
        position: initial;

        .navbar-nav {
            padding-top: 0px;
            height: auto;
        }

        .nav-item {
            .nav-link {
                padding: 0px 16px;
                line-height: 30px;

            }

            // active nav item
            &.active {
                .nav-link{
                    background: rgba($color: $clear-blue, $alpha: 0.05);
                }
            }
        }
    }

    .get-started-button {
        width: 174px;
    }
}

// footer
.footer {
    footer {
        padding-top: 96px;
    }

    .social {
        .icons-container {
            .icons {
                .live-chat {
                    margin: 0px 88px;
                }
            }
        }
    }
}

// for all introduction information
.intro-info {
    .header {
        font-size: 44px;
    }

    .description {
        font-size: 20px;
    }

    a.button {
        max-width: 315px;
    }
}

// for all tables
.table-shadow {
    margin-left: 35px;
    margin-right: 35px;
}