// swoosh bg
.swooshed {    
    background-repeat: no-repeat;

    &{
        background-image: url('../images/svgs/dashed-swoosh-bg.svg');
    }

    &.sm {
        background-image: url("../images/svgs/dashed-swoosh-bg-small.svg");
        background-position: center;
    }

    &.lg {
        background-image: url("../images/svgs/dashed-swoosh-bg-big.svg");
    };
}

// navigation
.navbar{
    background: #fff;
    box-shadow: 0 1px 0 0 rgba($color: $shadow, $alpha: 0.05);

    // navbrand styling
    .navbar-brand {
        margin-right: 1.5rem;
    }
    
    // navigation item
    .nav-item{

        // navigation link
        .nav-link {
            font-size: 16px;
            font-weight: 500;
            color: $navy!important;
            line-height: 30px;
            padding: 0px 16px;
            transition: ease 0.25s all;

            &:hover{
                color: $clear-blue!important;
                transition: ease 0.25s all;
            }
        }

        // active nav item
        &.active {

            .nav-link{
                color: $clear-blue!important;
                background: rgba($color: $clear-blue, $alpha: 0.05);
                border-radius: 2px;
            }
        }
    }

    // right nav items
    .nav-right {
        .login {
            margin-right: 32px;

            .nav-link {
                line-height: 48px;
                color: $clear-blue!important;
            }
        }
    }
}


// footer
.footer {
    // social section
    .social {
        padding: 120px 0px;

        .iconic-bg {
            background-image: url("../images/icons/icons.png");
            background-position: center;
            opacity: 0.08;
            mix-blend-mode: overlay;
            background-size: 380px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }   

        .icons {
            margin-top: 48px;

            img {
                height: 48px;
            }
        }
    }

    // try payplux now section
    .try {
        padding-top: 184px;
        padding-bottom: 160px;

        .content {
            letter-spacing: -1.5px;
            line-height: 1.15;
        }
    }

    // actual footer
    footer {
        padding-top: 96px;
        padding-bottom: 96px;

        .content {
            margin-right: 64px;

            .header {
                font-size: 20px;
                font-weight: 500; 
                margin-bottom: 32px;  
            }

            &-body {
                a {
                    color: $steel;
                    display: block;
                    margin-bottom: 16px;
                    font-size: 16px;
                }
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}