
// font sizes
@each $grid in $grids{
    $i: 12;
    $grid-name: map-get($map: $grid, $key: name);
    $grid-numb: map-get($map: $grid, $key: grid);

    @media (min-width: #{$grid-numb}px){
        @while $i < 65 {
            .font-size-#{$grid-name}-#{$i} {
                font-size: #{$i}px !important;
            }
            $i: $i + 2;
        }
    }
}

// font weight
@each $grid in $grids {
    $grid-name: map-get($map: $grid, $key: name);
    $grid-numb: map-get($map: $grid, $key: grid);

    @media (min-width: #{$grid-numb}px){
        @each $weight in $weights {
            .font-weight-#{$grid-name}-#{$weight} {
                font-weight: #{$weight} !important;
            }
        }
    }
}

// colors
@each $name, $color in $colors {
    .#{$name}-bg {
        background-color: $color!important;
    }

    .#{$name}-text {
        color: $color!important;
    }
}

// margins and paddings
@each $grid in $grids{
    $j: 0;
    $grid-name: map-get($map: $grid, $key: name);
    $grid-numb: map-get($map: $grid, $key: grid);

    @media (min-width: #{$grid-numb}px){
        @while $j < 80 {
            .margin-top-#{$grid-name}-#{$j} {
                margin-top: #{$j}px!important;
            }

            .margin-right-#{$grid-name}-#{$j} {
                margin-right: #{$j}px!important;
            }

            .margin-bottom-#{$grid-name}-#{$j} {
                margin-bottom: #{$j}px!important;
            }

            .margin-left-#{$grid-name}-#{$j} {
                margin-left: #{$j}px!important;
            }

            .padding-top-#{$grid-name}-#{$j} {
                padding-top: #{$j}px!important;
            }

            .padding-right-#{$grid-name}-#{$j} {
                padding-right: #{$j}px!important;
            }

            .padding-bottom-#{$grid-name}-#{$j} {
                padding-bottom: #{$j}px!important;
            }

            .padding-left-#{$grid-name}-#{$j} {
                padding-left: #{$j}px!important;
            }

            $j: $j + 4;
        }
    }
}

// width
@each $grid in $grids{
    $j: 5;
    $grid-name: map-get($map: $grid, $key: name);
    $grid-numb: map-get($map: $grid, $key: grid);

    @media (min-width: #{$grid-numb}px){
        @while $j < 101 {
            .w-#{$grid-name}-#{$j} {
                width: ($j * 1% )!important;
            }

            $j: $j + 5;
        }
    }
}

// line height
.line-height {
    &-normal {
        line-height: normal;
    }

    &-min-head {
        line-height: 1.33;
        letter-spacing: -1.04px;
    }
}