extends ../layout/index 

//- define head variables
block variables 
    - 
        //- for head meta data
        var head = {
            title: "About PayPlux - ECurrency Exchangers in Ghana",
            keywords: "",
            description: "PayPlux is one of the oldest ecurrency exchangers in Ghana. We have lived through the ups and downs of digital currencies in the Ghanaian space. We serve you with our decade of experience in the industry and work relentlessly to help you gain access to your preferred ecurrency."
        }

        //- active navigation item
        var active_nav = "About"


block body
    #about.body

    