extends ../layout/index 

//- define head variables
block variables 
    - 
        //- for head meta data
        var head = {
            title: "About - Payplux",
            keywords: "",
            description: ""
        }

        //- active navigation item
        var active_nav = "About"


block body
    #about.body

    