extends ../layout/index 

//- define head variables
block variables 
    - 
        //- for head meta data
        var head = {
            title: "Buy Bitcoin, Perfect Money, Litecoin, Ethereum on PayPlux",
            keywords: "",
            description: "Buying bitcoin, perfect money, litecoin and ethereum made easy if you’re in Ghana. Just place your order, choose a payment method and you’re good to go! Place your buy order today."
        }

        //- active navigation item
        var active_nav = "Buy"


block body
    #buy.body
        +page({})