extends ../layout/index 

//- define head variables
block variables 
    - 
        //- for head meta data
        var head = {
            title: "Exchange - Payplux",
            keywords: "",
            description: ""
        }

        //- active navigation item
        var active_nav = "Exchange"


block body
    #exchange.body