extends ../layout/index 

//- define head variables
block variables 
    - 
        //- for head meta data
        var head = {
            title: "Exchange Bitcoin, Litecoin, Ethereum, Other Cryptos | PayPlux",
            keywords: "",
            description: "Exchange your bitcoin for ethereum, litecoin, etc..."
        }

        //- active navigation item
        var active_nav = "Exchange"


block body
    #exchange.body